/* Custom page styles for sticky footer and background color */
body {
    background: linear-gradient(290deg, rgba(250,235,215,1) 0%, rgba(201,230,207,1) 39%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Questrial', sans-serif;
}

main {
  flex: 1 0 auto;
}

/* Custom style for nav bar */
nav {
    height: 150px;
    line-height: 120px;
}

/* Font style changes */
.font-new {
  font-family: 'Redressed', sans-serif;
}

nav .brand-logo {
  padding: 10px;
  font-size: 5.5rem;
}

nav div a {
    text-decoration: none;
}

div p {
    font-size: 17px;
}

/* Background color for search form */
input, #zipcode {
    background-color: antiquewhite;
}
 
/* Card Panel changes */
.card-index {
  margin: 5px;
  border-radius: 3px;
}

/* Modal styles */
.modal {
  background-color: #c9e6cf;
}

/* Button and link styles */
a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* Map style */
#mapid { 
    height: 500px;
    width: 800px;
}

.hidden {
  visibility:hidden;
}

.visible {
  visibility:visible;
}
/* Media queries for responsiveness */
@media only screen and (max-width: 861px) {
  nav, nav .nav-wrapper {
  height: 80px;
  line-height: 45px;
}
  nav .brand-logo {
  padding: 10px;
  font-size: 2.6rem;
}
#mapid {
    max-width: 100%;
}
.card-panel {
    max-width: 100%;
}
.card-content {
    max-width: 100%
}
}