/* Custom page styles for sticky footer and background color */
body {
    background-color: #c9e6cf;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Custom style for nav bar */
nav {
    height: 115px;
    line-height: 80px;
}
#shelter{
  /*h5 for find shelter  */
font-family: 'Questrial', sans-serif;
}
input, #zipcode{
  /* font change and background color for search form */
font-family: 'Questrial', sans-serif;
color:black;
background-color: blanchedalmond;

}
#previously-viewed-header{
  /* font change to the previously viewed header */

font-family: 'Questrial', sans-serif;
}
.btn {
  /* font changes to the appended previously searched buttons */
  font-family: 'Questrial', sans-serif;

}
.white-text{
  /* project members github links */
  font-family: 'Questrial', sans-serif;
}
.grey-text{
  /* repo link */
  font-family: 'Questrial', sans-serif;
}
#desiredShelter{
  /* h5 for desired shelter */
  
  font-family: 'Questrial', sans-serif;
}
.collection-item{
  /* links on the appended list in search results page */
  font-family: 'Questrial', sans-serif;
}
#orgName, #orgCityState, #orgEmail, #orgWebsite{
  /* font change to text in search card. */

  font-family: 'Questrial', sans-serif;
}




 
/* Font style changes */
.font-new {
  font-family: 'Redressed', sans-serif;
}

nav .brand-logo {
  padding: 10px;
  font-size: 3.75rem;
}

nav div a {
    text-decoration: none;
}

/* Button and link styles */
a {
    color: white;
    text-decoration: underline;
    cursor: pointer;

}

button {
    cursor: pointer;
}



/* Map style */
#mapid { 
    height: 500px;
    width: 800px;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 861px){
  nav, nav .nav-wrapper {
  height: 80px;
  line-height: 35px;
}
  nav .brand-logo {
  padding: 10px;
  font-size: 2.1rem;
}
}